[submodule "test/framework/bats"]
	path = test/framework/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "test/framework/bats-support"]
	path = test/framework/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "test/framework/bats-assert"]
	path = test/framework/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "test/framework/bats-file"]
	path = test/framework/bats-file
	url = https://github.com/bats-core/bats-file.git
[submodule "test/framework/unity"]
	path = test/framework/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "test/framework/fff"]
	path = test/framework/fff
	url = https://github.com/meekrosoft/fff.git
